->
{{> default/feature-slider posts=sliderPosts }}
->
<section class="s-content">
  <div class="row entries-wrap wide">
    <div class="entries">
      {{#each posts}}
        {{> default/post title=title category=category id=_id created_at=created_at image=image}}
      {{/each}}
    </div>  
  </div>

   
  <section class="s-extra" >
    <div class="row">
    <div class="col-twelve md-twelve tab-full popular">
      <h3>Latests Posts</h3>
      <div class="block-1-2 block-m-full popular__posts">
        {{#each popularPosts}}
          {{> default/popular-post title=title id=_id created_at=created_at image=image user=user }}
        {{/each}}
      </div>
    </div>  
    </div> 
  </section>  
</section>