<!-- featured  -->
{{> default/feature-slider}}
<!-- s-content -->
<section class="s-content">
  <div class="row entries-wrap wide">
    <div class="entries">
      {{#each posts}}
        {{> default/post title=title category=category id=_id }}
      {{/each}}
    </div> <!-- end entries -->
  </div> <!-- end entries-wrap -->
  {{> default/pagination}}

   <!-- s-extra -->
  <section class="s-extra" >
    <div class="row">
    <div class="col-twelve md-twelve tab-full popular">
      <h3>Popular Posts</h3>
      <div class="block-1-2 block-m-full popular__posts">
        {{> default/popular-post}}
        {{> default/popular-post}}
        {{> default/popular-post}}
        {{> default/popular-post}}
        {{> default/popular-post}}
        {{> default/popular-post}}
      </div> <!-- end popular_posts -->
    </div> <!-- end popular -->
    </div> <!-- end row -->
  </section> <!-- end s-extra -->
</section> <!-- end s-content -->