{{> default/feature-slider }}
<section class="s-content">
  <div class="row entries-wrap wide">
    <div class="entries">
      {{#each posts}}
        {{> default/post }}
      {{/each}}
    </div>  
  </div>

   
  <section class="s-extra" >
    <div class="row">
    <div class="col-twelve md-twelve tab-full popular">
      <h3>Latests Posts</h3>
      <div class="block-1-2 block-m-full popular__posts">
        {{#each popularPosts}}
          {{> default/popular-post }}
        {{/each}}
      </div>
    </div>  
    </div> 
  </section>  
</section>