<!-- featured  -->
{{> default/feature-slider}}
<!-- s-content -->
<section class="s-content">
  <div class="row entries-wrap wide">
    <div class="entries">
      {{> default/post}}
      {{> default/post}}
      {{> default/post}}
      {{> default/post}}
    </div> <!-- end entries -->
  </div> <!-- end entries-wrap -->
  {{> default/pagination}}
</section> <!-- end s-content -->