 <div class="row" id='login'>
  <div class="col-three tab-full height-10"></div>
  <div class="col-six tab-full">
    <h3 class="add-bottom">Login</h3>

    <form method="POST" action="/login"  >
      <div>
        <label for="sampleInput">Your email</label>
        <input class="full-width" name="email" type="email" placeholder="test@email.com" id="sampleInput">
      </div>
      
      <div>
        <label for="sampleInput">Password</label>
        <input class="full-width" name='password' type="password" placeholder="password" id="sampleInput">
      </div>
      
      <label class="add-bottom">
        <input type="checkbox" name='stay_logged'>
        <span class="label-text">Stay logged in</span>
      </label>
      
      <input class="btn--primary full-width" type="submit" value="Login">
    </form>
  </div>
 </div>