 <div class="row" id='login'>
  <div class="col-three tab-full height-10"></div>
  <div class="col-six tab-full">
    <h3 class="add-bottom">Register</h3>

    <form method="POST" action="/register"  >
      <div>
        <label for="sampleInput">Your email</label>
        <input class="full-width" name="email" type="email" placeholder="test@email.com" id="sampleInput">
      </div>

      <div>
        <label for="sampleInput">Your Name</label>
        <input class="full-width" name="name" type="text" placeholder="Name" id="sampleInput">
      </div>
      
      <div>
        <label for="sampleInput">Password</label>
        <input class="full-width" name='password' type="password" placeholder="password" id="sampleInput">
      </div>

      <div>
        <label for="sampleInput">Confirm Password</label>
        <input class="full-width" name='confirm_password' type="password" placeholder="password" id="sampleInput">
      </div>
      
      <input class="btn--primary full-width" type="submit" value="Register">
    </form>
  </div>
 </div>