{{> admin/header }}
  <body>
    <div class="container-scroller">
      {{> admin/navbar }}
      
      <div class="container-fluid page-body-wrapper">
        {{> admin/sidebar }}
        {{{body}}}
      </div>
    </div>
    <!-- plugins:js -->
    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- inject:js -->
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/misc.js"></script>
    <!-- Custom js for this page -->
    <script src="/admin/js/dashboard.js"></script>
  </body>
</html>