{{> admin/header }}
  <body>
    <div class="container-scroller">
      {{> admin/navbar }}
      
      <div class="container-fluid page-body-wrapper">
        {{> admin/sidebar }}
        <div class="main-panel">
          <div class="content-wrapper">
            {{> admin/messages}}
            {{{body}}}
          </div>
          {{> admin/footer}}
        </div>
      </div>
    </div>
    
    <!-- plugins:js -->
    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- inject:js -->
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/misc.js"></script>
    <script src="/admin/js/file-upload.js"></script>
    <!-- Custom js for this page -->
    <script src="/admin/js/dashboard.js"></script>

    <script>
      $(document).ready(function() {
        $('#create-category-button').on('click', function(e) {
          e.preventDefault();

          var data = $('#category-title').val();
          $.ajax({
            url: '/admin/categories',
            type: 'POST',
            data: {name: data},
            success: function(res) {
              var html = `
                <tr>
                  <td> ${res.name} </td>
                  <td class="btn-group">
                    <form action="/admin/categories/delete/${res._id}?newMethod=DELETE" method="post">
                      <button type="submit" class="btn btn-sm btn-gradient-danger mr-2" >Delete</button>
                    </form>
                  </td>
                </tr>
              `;

              $('.category-list').append(html);
              $('#category-title').val('');
            }
          })
        })
      })
    </script>
  </body>
</html>