{{> default/header }}
<body id="top">
    <!-- preloader -->
    {{> default/loader }}
    <!-- header -->
    {{> default/navbar }}

    {{{body}}}

    <!-- s-footer -->
    {{> default/footer}}
    <!-- Javascript -->
    <script src="/default/js/jquery-3.2.1.min.js"></script>
    <script src="/default/js/plugins.js"></script>
    <script src="/default/js/main.js"></script>
</body>
</html>