{{> default/header }}
<body id="top">
    <!-- preloader -->
    {{> default/loader }}
    <!-- header -->
    {{> default/navbar}}

    {{{body}}}

    <!-- s-extra -->
    <section class="s-extra">
      <div class="row">
      <div class="col-twelve md-twelve tab-full popular">
        <h3>Popular Posts</h3>
        <div class="block-1-2 block-m-full popular__posts">
          {{> default/popular-post}}
          {{> default/popular-post}}
          {{> default/popular-post}}
          {{> default/popular-post}}
          {{> default/popular-post}}
          {{> default/popular-post}}
        </div> <!-- end popular_posts -->
      </div> <!-- end popular -->
      </div> <!-- end row -->
    </section> <!-- end s-extra -->

    <!-- s-footer -->
    {{> default/footer}}
    <!-- Javascript -->
    <script src="/default/js/jquery-3.2.1.min.js"></script>
    <script src="/default/js/plugins.js"></script>
    <script src="/default/js/main.js"></script>
</body>
</html>