<article class="col-block">
  <div class="item-entry padding-bottom-0" data-aos="zoom-in">
    <div class="item-entry__text">    
      <h1 class="item-entry__title margin-bottom-18"><a href="/posts/{{id}}">{{name}}</a></h1>
    </div>
  </div> <!-- item-entry -->
</article> <!-- end article -->