<article class="col-block">
  <div class="item-entry" data-aos="zoom-in">
    <div class="item-entry__text">    
      <h1 class="item-entry__title"><a href="single-standard.html">{{title}}</a></h1>
    </div>
  </div> <!-- item-entry -->
</article> <!-- end article -->