{{#if errors}}
  <div class="row" style="margin-top: 80px;">
    {{#each errors}}
    <div class="col-four tab-full">
      <div class="alert-box alert-box--error hideit margin-bottom-0">
        <p class="margin-bottom-0">{{email}}</p>
        <i class="fa fa-times alert-box__close"></i>
      </div>
    </div>
    <div class="col-four tab-full">
      <div class="alert-box alert-box--error hideit margin-bottom-0">
        <p class="margin-bottom-0">{{password}}</p>
        <i class="fa fa-times alert-box__close"></i>
      </div>
    </div>
    <div class="col-four tab-full">
      <div class="alert-box alert-box--error hideit margin-bottom-0">
        <p class="margin-bottom-0">{{name}}</p>
        <i class="fa fa-times alert-box__close"></i>
      </div>
    </div>
    {{/each}}
  </div>
{{/if}} 