{{#if success_message}}
<div class="col-eight tab-full" style="margin: auto; position: absolute; left: 0; right: 0;">
  <div class="alert-box alert-box--success hideit">
    <p>{{success_message}}</p>
    <i class="fa fa-times alert-box__close"></i>
  </div> <!-- end notice -->
</div>
{{/if}}

{{#if error_message}}
<div class="col-eight tab-full" style="margin: auto; position: absolute; left: 0; right: 0;">
  <div class="alert-box alert-box--error hideit">
    <p>{{error_message}}</p>
    <i class="fa fa-times alert-box__close"></i>
  </div> <!-- end notice -->
</div>
{{/if}}

