<header class="s-header header">
  <div class="header__logo">
    <a class="logo" href="/">Kai2B</a>
  </div> <!-- end header__logo -->

  <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
  <nav class="header__nav-wrap">
    <h2 class="header__nav-heading h6">Navigate to</h2>
    <ul class="header__nav">
        <li class="current"><a href="/" title="">Home</a></li>
        <li class="current"><a href="/categories" title="">Categories</a></li>
        <li class="current"><a href="/posts" title="">Blog</a></li>
        {{#if user}}
        <li><a href="/admin" title="">Admin</a></li>
        <li><a href="/logout" title="">Logout</a></li>
        {{else}}
        <li><a href="/login" title="">Login</a></li>
        <li><a href="/register" title="">Register</a></li>
        {{/if}}
    </ul> <!-- end header__nav -->

    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
  </nav> <!-- end header__nav-wrap -->

</header> <!-- s-header -->