<article class="col-block popular__post">
  <a href="#0" class="popular__thumb">
    <img src="/default/images/thumbs/small/tulips-150.jpg" alt="">
  </a>
  <h5>10 Interesting Facts About Caffeine.</h5>
  <section class="popular__meta">
    <span class="popular__author"><span>By</span> <a href="#0">John Doe</a></span>
    <span class="popular__date"><span>on</span> <time datetime="2018-06-14">Jun 14, 2018</time></span>
  </section>
</article>