{{> admin/title title='Categories' }}
<div class="row">
  <div class="col-md-2 grid-margin height-10"></div>
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" method="Post" action="/admin/categories/create">
          <div class="form-group">
            <label>Category</label>
            <div class="input-group">
              <input type="text" name='category' id='category-title' class="form-control" placeholder="Category">
              <div class="input-group-append">
                <button type="submit" id='create-category-button' class="btn btn-gradient-primary mr-2">Add</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 grid-margin height-10"></div>
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                {{#if (isAdmin user.privilege 'subadmin')}}
                  <th>Action</th>
                {{/if}}
              </tr>
            </thead>
            <tbody class="category-list">
              {{#each categories}}
              <tr id={{_id}}>
                <td> {{name}} </td>
                {{#if (isAdmin ../user.privilege 'subadmin')}}
                <td class="btn-group">  
                  <form action="/admin/categories/delete/{{_id}}?newMethod=DELETE"  method="post">
                    <button type="submit" class="btn btn-sm btn-gradient-danger mr-2" >Delete</button>
                  </form>
                </td>
                {{/if}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
