{{> admin/title title='Users' }}

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> Name </th>
                <th> Privileges </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              {{#each users }}
                {{> admin/user  }}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>