.brand-text {
  font-size: 1.4rem !important;
}

.brand-text-mini {
  margin-left: 20px;
  font-size: 1.2rem !important;
}

.message_box {
  position: relative;
  .message_btn {
    position: absolute !important;
    right: 0;
  }
}