<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Comments</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> User </th>
                <th> Comment </th>
                <th> Date </th>
              </tr>
            </thead>
            <tbody>
              {{#each comments}}
              <tr>
                <td>
                  <img src="{{user.avatar}}" class="mr-2" alt="image"> {{user.name}} </td>
                <td> {{body}}</td>
                <td> {{convertTime created_at}} </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>