<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="{{user.avatar}}" alt="profile">
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">{{user.name}}</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/posts">
        <span class="menu-title">Posts</span>
        <i class="mdi mdi-notebook-multiple menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/post/create">
        <span class="menu-title">Create New Post</span>
        <i class="mdi mdi-plus-box menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">
        <span class="menu-title">Categories</span>
        <i class="mdi mdi-tag menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>